body {
    font-family: Arial;
}
.row {
    padding: 50px 5%;
    border-top: 1px solid #d0d0d0;
}
h1 { font-size: 20px; }
h2 { font-size: 17px; }
h3 { font-size: 15px; }
h4 { font-size: 13px; }

.links a {
    display: inline-block;
    font-size: 17px;
    color: #ddeeee;
}
.links a:hover {
    color: #fff;
}
.links span {
    color: #ddeeee;
    display: inline-block;
    font-size: 17px;
    padding: 0 10px;
}

/** HEADER **/
header {
    height: 100vh;
    background: url(../img/bg.png);
    background-size: cover;
    background-position: center center;
    color: #fff;
}
header .container {
    position: relative;
    top: 50%;
    margin-top: -160px;
}
header .container .center {
    background: rgba(0, 0, 0, 0.1);
    padding: 15px 30px;
    max-width: 650px;
}
header .container .center .logo {
    padding: 25px 0;
}
header .container .center .text hr {
    background: #ddeeee;
    height: 1px;
    width: 100%;
    margin: 15px 0;
}

/** HEADER LINKS **/
#social {
    background: url(../img/bg.png);
    background-size: cover;
    background-position: center top;
    color: #fff;
}
#social .main {
    background: rgba(0, 0, 0, 0.1);
    padding: 25px;
}

#social h2 {
    padding: 0 0 15px 0;
    font-weight: lighter;
    text-transform: uppercase;
}

/** SECTIONS **/
section div {
    color: #888;
    font-size: 13px;
    line-height: 1.3;
}
section div p, section div .p {
    margin: 15px;
}
section h1, section h2, section h3, section h4 {
    color: #777;
    margin: 15px 0;
    font-weight: bold;
}
section h3 .data {
    float: right;
    background: #f9f9f9;
    padding: 5px 10px;
    font-size: 10px;
}
section ul, section ol {
    margin: 0 0 0 35px;
}
section ul li {
    margin: 10px 15px;
    list-style-type: circle;
}
#Releases .container {
    margin: 15px 0;
    background: #f0f0f0;
    border: 1px solid #cccccc;
    padding: 5px 20px 15px 20px;
}
#Releases .content {
    background: #f9f9f9;
    border: 1px solid #e0e0e0;
    list-style-type: none;
    margin: 0px;
    padding: 20px;
    line-height: 2;
}
span.toggle, #Releases span.label {
    background: #5cc8ba;
    color: #f0f0f0;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    margin: 5px 0 0 0;
    min-width: 75px;
    padding: 5px 10px;
    text-transform: uppercase;
    text-align: center;
}
.toggle:hover, #Releases span.label:hover {
    background: #5cc8ba;
    color: #ffffff;
}
#Releases span.label { cursor: default; margin: 0 5px 0 0; }
#Releases .downloads .toggle { background: #5cc8ba; }
#Releases .downloads .toggle:hover { background: #5cd8c8; }
#Releases .log .toggle { background: #898989; }
#Releases .log .toggle:hover { background: #9a9a9a; }
#Releases span.fix { background: #e89153; }
#Releases span.add { background: #59c554; }
#Releases span.update { background: #9955c5; }
#Releases span.remove { background: #b95454; }
#Releases span.improved { background: #50aadd; }

.code {
    font-family: monospace;
    padding: 16px;
    overflow: auto;
    font-size: 13px;
    line-height: 1.45;
    background-color: #f0f0f0;
    border-radius: 3px;
}
span.code {
    padding: 5px 10px;
}

/** FOOTER **/
#Footer {
    background: #333;
    color: #f5f5f5;
    font-size: 13px;
    line-height: 1.5;
    margin-top: 50px;
    padding-bottom: 50px;
}
#Footer p {
	margin-bottom: 10px;
}
#Footer .links {
    margin-top: 50px;
    display: block;
    background: rgba(255,255,255,0.1);
    padding: 10px;
}
#Footer .links a, #footer .links span {
    font-size: 12px;
    color: #f0f0f0;
}
#Footer .links a:hover {
    color: #fff;
}

@media (max-width: 860px) {
    header {
        height: auto;
        min-height: 100vh;
    }
    header .container {
        margin-top: 0;
        display: block;
        position: inherit;
    }
    header .links a {
        display: block;
        padding: 10px 0;
    }
	.links a {
		font-size: 15px;
    }
    header .links span {
        display: none;
    }
    #Releases ul {
        margin: 0;
        padding: 0px;
    }
    #Releases ul li {
        margin: 0;
        padding: 10px;
    }
    #Releases ul li ul {
        padding: 5px 15px;
    }
}
