body {
    font-family: Arial;
}
.row {
    padding: 50px 5%;
    border-top: 1px solid #d0d0d0;
}
h1 { font-size: 20px; }
h2 { font-size: 17px; }
h3 { font-size: 15px; }
h4 { font-size: 13px; }

.links a {
    display: inline-block;
    font-size: 17px;
    color: #ddeeee;
}
.links a:hover {
    color: #fff;
}
.links span {
    color: #ddeeee;
    display: inline-block;
    font-size: 17px;
    padding: 0 10px;
}


/** HEADER **/
header {
    height: 100vh;
    background: url(../img/bg.png);
    background-size: cover;
    background-position: center center;
    color: #fff;
}
header .content {
    position: relative;
    top: 50%;
    margin-top: -160px;
}
header .content .center {
    background: rgba(0, 0, 0, 0.1);
    padding: 15px 30px;
    max-width: 650px;
}
header .content .center .logo {
    padding: 25px 0;
}
header .content .center .text hr {
    background: #ddeeee;
    height: 1px;
    width: 100%;
    margin: 15px 0;
}

/** HEADER LINKS **/
#social {
    background: url(../img/bg.png);
    background-size: cover;
    background-position: center top;
    color: #fff;
}
#social .main {
    background: rgba(0, 0, 0, 0.1);
    padding: 25px;
}

#social h2 {
    padding: 0 0 15px 0;
    font-weight: lighter;
    text-transform: uppercase;
}

/** SECTIONS **/
section div {
    color: #888;
    font-size: 13px;
}
section div p, section div .p {
    margin: 15px;
}
section h1, section h2, section h3, section h4 {
    color: #777;
    margin: 15px 0;
    font-weight: bold;
}
section h3 .data {
    float: right;
    background: #f9f9f9;
    padding: 5px 10px;
    font-size: 10px;
}
section#About ul, section#Instructions ol {
    margin-left: 35px;
}
section#Releases ul li {
    background: #f0f0f0;
    border: 1px solid #e0e0e0;
    list-style-type: none;
    margin: 0px;
    padding: 20px;
}
section#Releases ul li ul {
    border: none;
    background: #fff;
    display: none;
    padding: 10px 30px;
    margin: 0;
}
section#Releases ul li ul li {
    background: #fff;
    border: none;
    padding: 0;
    margin: 10px 15px;
    color: #666;
    list-style-type: circle;
}
section .change-log, section .release-download a, section#Releases span.label {
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    margin: 5px 0 0 0;
    padding: 5px 10px;
    text-transform: uppercase;
    color: #f0f0f0;
}
section .change-log:hover, section .release-download a:hover, section#Releases ul li ul li span:hover {
    color: #ffffff;
}
section#Releases span.label {
    cursor: default;
    margin: 0 5px 0 0;
    min-width: 75px;
    text-align: center;
}
section .release-download a { background: #5cc8ba; }
section .release-download a:hover { background: #5cd8c8; }
section#Releases span.fix { background: #e89153; }
section#Releases span.add { background: #59c554; }
section#Releases span.update { background: #9955c5; }
section#Releases span.remove { background: #b95454; }
section#Releases span.improved { background: #50aadd; }
section .change-log { background: #898989; }
section .change-log:hover { background: #9a9a9a; }

/** FOOTER **/
#footer {
    background: #333;
    color: #f5f5f5;
    font-size: 13px;
    line-height: 1.5;
    margin-top: 50px;
    padding-bottom: 50px;
}
#footer p {
	margin-bottom: 10px;
}
#footer .links {
    margin-top: 50px;
    display: block;
    background: rgba(255,255,255,0.1);
    padding: 10px;
}
#footer .links a, #footer .links span {
    font-size: 12px;
    color: #f0f0f0;
}
#footer .links a:hover {
    color: #fff;
}

@media (max-width: 860px) {
    header {
        height: auto;
        min-height: 100vh;
    }
    header .content {
        margin-top: 0;
        display: block;
        position: inherit;
    }
    #links a {
        display: block;
        padding: 10px 0;
    }
    #links span {
        display: none;
    }
    section#Releases ul {
        margin: 0;
        padding: 0px;
    }
    section#Releases ul li {
        margin: 0;
        padding: 10px;
    }
    section#Releases ul li ul {
        padding: 5px 15px;
    }
}
